name: Automatic unittests

on:
  push:
    branches:
      -move_gui

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checout Repository
        uses: actions/checkout@v4

      - name: install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: run tests 
        run: pytest
